img{
	width:600px;
	border:2px solid black;
	
}
body{
	background-color:#ADD8E6;
	font-family: "Sofia"
}
.red{
	color:red;
	font-size:18px;
}
.big_font{
	font-size:32px;
}
#specialStyle{
	background-color:grey;
	border:2px solid black;
    }